@page
@inject Shengtai.IdentityServer.IAppSettings AppSettings
@model ResetPasswordModel
@{
    Layout = "_BlankLayout";
    ViewBag.Title = "Reset password";
}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href='@Url.Content("~/")' class="h1"><b>@AppSettings.IdentityServer.ApplicationName</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
                <form method="post">
                    @Html.HiddenFor(m => m.Input.Code)
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Input.Email, new { type = "email", @class = "form-control", placeholder = "電子郵件" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Input.Password, new { type = "password", @class = "form-control", placeholder = "密碼" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Input.ConfirmPassword, new { type = "password", @class = "form-control", placeholder = "確認密碼" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Change password</button>
                        </div>
                    </div>
                </form>

                <p class="mt-3 mb-1">
                    <a href='@Url.Content("~/IdentityServer/Account/Login")'>Login</a>
                </p>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/_BlankLayoutScriptsPartial.cshtml")
</body>