@model (Shengtai.IdentityServer.Models.Shared.INavTreeView Nav, IList<string> Roles)
@inject Shengtai.IdentityServer.MenuBuilder Builder
@{
    var active = ViewData.IsActived(Builder, Model.Nav.Key) ? "active" : "";
}
@if (Model.Nav.Type == Shengtai.IdentityServer.Data.MenuTypes.TreeView)
{
    <a href="#" class='nav-link @active'>
        <i class='nav-icon @Model.Nav.Icon'></i>
        <p>
            @Model.Nav.Paragraph.Text
            <i class='right fas fa-angle-left'></i>
            <div id='@Model.Nav.Key'></div>
        </p>
    </a>
    <ul class="nav nav-treeview">
        @foreach (var menu in Model.Nav.Menus)
        {
            if (menu.Show(Model.Roles))
            {
                var itemClass = ViewData.IsActived(Builder, menu.Key) ? "menu-open" : "";
                <li class='nav-item @itemClass'>
                    @await Html.PartialAsync("~/Views/Shared/AdminLTE/_Menu.cshtml", (menu, Model.Roles))
                </li>
            }
        }
    </ul>
}
else
{
    <a href='@Url.Content(Model.Nav.Url)' class='nav-link @active'>
        <i class='nav-icon @Model.Nav.Icon'></i>
        <p>
            @Model.Nav.Paragraph.Text
            <div id='@Model.Nav.Key'></div>
        </p>
    </a>
}